# dependencies
node_modules/
jspm_packages/

# env files
.env
.env.*

# logs
*.log

# builds
dist/
build/
.next/
out/

# python
venv/
__pycache__/

# system
.DS_Store

# IDE
.vscode/

# Python
.venv/

# Large Datasets and Uploads
Tumor_Brain_DataSet/
backend/uploads/
backend/final_reports/